@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body, html{
    height: 100%;
    margin: 0;
}

/* Light theme */
body[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #212529;
}

/* Sidebar light mode (optional custom styles) */
body[data-bs-theme="light"] #sidebar {
    background-color: #f8f9fa;
}
/* Dark theme */
body[data-bs-theme="dark"] {
    background-color: #1a1a1a;
    color: #f8f9fa;
}
/* Customizing Sidebar for dark theme */
body[data-bs-theme="dark"] #sidebar {
    background-color: #1E1E1E;
    color: #f8f9fa;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

body[data-bs-theme="dark"] p{
    color: #999;
}

a, a:hover, a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper{
    display: flex;
    align-items: stretch;
}

body[data-bs-theme="light"] #theme-toggle-btn {
    color: #212529;
}

body[data-bs-theme="dark"] #theme-toggle-btn {
    color: #FFFFFF;
}

#sidebar .container{
    display: flex;
    justify-content: flex-end;
}

#sidebar .itchContainer{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#sidebar.active .container{
    display: flex;
    justify-content: center;
}

#sidebar.active .itchContainer{
    display: flex;
    justify-content: center;
}

#sidebar #itch{
    position: absolute;
    bottom: 0;
    transform: translate(0,-25%);
}

#sidebar.active #itch{
    position: absolute;
    bottom: 5%;
    transform: translate(0,-25%);
}

#theme-toggle-btn{
    position: absolute;
    bottom: 0;
    background: none;
    border: 0;
}

/* Cross color */
body[data-bs-theme="dark"] #sidebarCollapse span{
    background: #ECEDEA;
}

body[data-bs-theme="light"] #sidebarCollapse span{
    background: #212529;
}

h3, strong{
    color: white
}

#sidebarCollapse{
    width: 40px;
    height: 40px;
    background: none;
    border-width: 0;
    position: fixed;
}

#sidebarCollapse span{
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    transition: all 0.45s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type{
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2){
    opacity: 0;
}

#sidebarCollapse span:last-of-type{
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span{
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#sidebar {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    height: 25vh;
    transition: all 0.3s;
}

#sidebar .sidebar-header strong,
#sidebar.active .sidebar-header h3{
    display: none;
}

#sidebar.active .sidebar-header strong{
    display: block;
}

body[data-bs-theme="dark"] #sidebar .sidebar-header{
    padding: 20px;
    background: #232323;
}
body[data-bs-theme="light"] #sidebar .sidebar-header{
    padding: 20px;
    background: #6200EE;
}

#sidebar.active .full-bar,
#sidebar .mini-bar{
    display: none;
}

#sidebar.active .mini-bar{
    display: block;
}

body[data-bs-theme="dark"] #sidebar ul.components{
    padding: 30px 0;
    border-bottom: 1px solid #212529;
}

body[data-bs-theme="light"] #sidebar ul.components{
    padding: 30px 0;
    border-bottom: 1px solid #6200EE;
}

#sidebar ul p{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a{
    text-align: left;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

body[data-bs-theme="dark"] #sidebar ul li a:hover {
    color: #1E1E1E;
    background: #EEE;
}

body[data-bs-theme="light"] #sidebar ul li a:hover {
    color: #FFFFFF;
    background: #6200EE;
}

#sidebar ul li.active > a, a[aria-expanded="true"]{
    color: #fff;
    /* background: #6d7fcc; */
}

#sidebar.active{
    min-width: 80px;
    max-width: 80px;
    text-align: center;
} 

#sidebar.active ul li a{
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i{
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a{
    padding: 10px !important;
}

a[data-toggle="collapse"]{
    position: relative;
}

@media (max-width: 768px){
    body, html {
        overflow-x: hidden;
        height: 100vh;
        margin: 0;
    }
    #sidebar {
        position: sticky;
        top: 0;
        position: -webkit-sticky;
        min-width: 70vw;
        max-width: 90vw;
    }
    #sidebar.active{
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    #sidebar .sidebar-header strong{
        display: none;
    }
    #sidebar.active .sidebar-header h3{
        display: none;
    }
    #sidebar.active .sidebar-header strong{
        display: block;
    }
    #sidebar.active .itch{
        display: none;
    }

    #sidebar.active ul li a{
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i{
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    #sidebar.active ul ul a{
        padding: 10px !important;
    }

    #footer {
        font-size: 0.9rem;
        justify-content: center;
    }

    #footer #cgu,
    #footer #cgu2 {
        margin-left: 10px;
    }  
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    position: relative;
    z-index: 10;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#footer #cgu,
#footer #cgu2 {
    margin-left: 20px;
    font-size: 1em;
}


body[data-bs-theme="dark"] #footer{
    background-color: #1C1C1C;
}
body[data-bs-theme="light"] #footer{
    background-color: #FAFAFA;
}

.pdc{
    padding: 30px;
    flex: 1;    
}

body[data-bs-theme="dark"] .pdcli{
    color: #999;
}

